 /*PC*/
 
 @media(min-width: 1024px) {}
 /*Tablet*/
 
 @media(max-width: 1023px) and (min-width:740px) {
     .contact-form .form-control {
         padding: 10px;
     }
     #footer .social-list {
         font-size: 36px;
     }
     .contact-info {
         font-size: 18px;
         line-height: 1.8;
     }
 }
 /*Tablet and Mobile*/
 
 @media(max-width: 1023px) {
     .btn {
         padding: 15px 16px;
     }
     #footer .copyright a {
         padding: 12px 12px 12px 0;
     }
 }
 /*Mobile*/
 
 @media(max-width:740px) {
     #header {
         overflow: hidden;
     }
     #header .mobile-menu-btn {
         display: block;
     }
     #header .search-btn {
         display: none;
     }
     #navi {
         display: block;
     }
     #navi li a {
         padding: 1px 24px;
     }
     #navi>li {
         display: block;
     }
     #navi>li:first-child {
         display: inline-block;
     }
     #navi .subnavi {
         position: initial;
         background-color: #333;
     }
     #navi .subnavi a {
         color: #fff;
         padding: 5px 40px;
     }
     .col-tour {
         padding-bottom: 16px;
     }
     .col {
         float: none;
     }
     .col-half {
         width: 100%;
     }
     .col-third {
         width: 100%;
     }
     .btn {
         width: 100%;
     }
     .form-control {
         margin-top: 16px;
     }
     .contact-form {
         margin-top: 8px;
     }
     .pull-right {
         padding: 12px 48px;
     }
     .mt-8 {
         margin-top: 0px !important;
     }
     #footer .social-list {
         font-size: 24px;
     }
 }